@font-face {
	font-family: "Cherry Swash";
	src: url("Cherry_Swash/CherrySwash-Regular.ttf");
}

@font-face {
	font-family: "Fenix";
	src: url("Fenix/Fenix-Regular.ttf");
}

@font-face {
	font-family: "Inconsolata";
	src: url("Inconsolata/Inconsolata-Regular.ttf");
}


body {
	padding: 0;
	margin: 0;

	font-family: "Fenix";
	font-size: 20px;
	line-height: 26px;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 50px;
}

a, a:visited, a:hover {
	color: #4c66b2;
}

.banner {
	background: #ed4337;
	color: white;
	padding-top: 150px;
	font-size: 96px;
	line-height: normal;
	font-family: "Cherry Swash", sans-serif;
	margin-bottom: 40px;
}

.banner a {
	color: inherit;
	text-decoration: inherit;
}

.under-banner {
	background: #B01029;
	color: white;
	font-family: "Cherry Swash", sans-serif;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0;
}

.footer {
	margin-top: 230px;
	padding: 10px 0;

	background: #ed4337;
	color: white;

	font-family: "Cherry Swash", sans-serif;
	line-height: 20px;
	overflow: visible;
}

.signature {
	position: relative;

	text-align: right;
	padding-right: 10px;
}

.contactlist {
	position: absolute;
	bottom: 20px;
	top: 0px;
	right: 0px;
	overflow: hidden;

	background: #ed4337;
	color: white;

	text-align: left;
	line-height: 40px;

	-moz-transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

:hover>.contactlist {
	top: -150px;
}

.contactlist ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

.contactlist ul i {
	width: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}

.contactlist a, .contactlist a:visited {
	color: white;
	text-decoration: none;
	cursor: pointer;

	display: inline-block;
	width: 150px;
	padding: 0 40px;
}

.contactlist a:hover {
	background: white;
	color: #ed4337;
}

/*
soft red: rgb(237, 67, 55);
soft blue: #4c66b2;
head in the grass: #A8C078;
soft bright green: #C0D890;
*/

.popup-wrapper {
	position: relative;
}

.popup {
	position:absolute;

	width: 300px;
	padding: 10px 20px;
	margin-left: -170px;
	left:50%;

	bottom: 38px;

	background: #ed4337;
	color: white;
	box-shadow: 0 4px 20px rgba(0,0,0,0.5);

	font-family: "Fenix";
	font-size: 20px;
	line-height: 26px;
	white-space: normal;

	text-align: center;

	opacity: 0;

	-moz-transition: all 120ms ease-in-out;
	-webkit-transition: all 120ms ease-in-out;
	-o-transition: all 120ms ease-in-out;
	transition: all 120ms ease-in-out;
}

.has-popup:hover+.popup {
	bottom: 35px;
	opacity: 1;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.popup:after {
	content: ".";
	overflow: hidden;
	position:absolute;

	margin-left: -10px;
	left: 50%;
	bottom: -10px;

	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #ed4337;
}

p span[title], p span.has-popup {
	display: inline-block;
	color: #6B874D;
	border-bottom: 1px dashed #6B874D;
	overflow: visible;
	height: 21px;
}

.content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

pre, code {
	font-family: "Inconsolata", monospace;
	font-size: 20px;
}

pre {
	line-height: 30px;
}

pre.abnf {
	margin-left: 1em;
	margin-right: 1em;
}

.rule {
	color: #992D0C;
}

.abnf .terminal {
	color: #4c66b2;
}

.abnf [title], .abnf span.has-popup {
	border-bottom: 1px dashed #A8C078;
}

.abnf .equals {
}

.abnf .operator {
	color: #A8C078;
}

.abnf .variable {
	font-style: italic;
}

.abnf .comment {
	color: grey;
}

pre.plaintalk {
	border-radius: 5px;

	margin-left: 1em;
	margin-right: 1em;

	padding: 10px 0 10px 35px;

	background: #272822;

	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect fill='%23444' x='0' y='0' width='100%' height='100%'/></svg>");
	background-size: 30px 30px;
	background-repeat: repeat-y;
}

.plaintalk.interactive {
	max-height: 300px;
	overflow: auto;
	position: relative;
}

.interactive input {
	border: none;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	line-height: 30px;
	width: 600px;
}

.interactive input:focus, .interactive input:hover {
	color: #C9E58F;
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.1);
}

.interactive input:focus::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.0);
}

.interactive input:focus::-moz-placeholder {
	color: rgba(255, 255, 255, 0.0);
}

.interactive input:focus::-input-placeholder {
	color: rgba(255, 255, 255, 0.0);
}

code.plaintalk {
	padding: 0 6px;
	white-space: nowrap;
	background: #eee;
}

.control {
	color: #888;
}

.to-server {
	color: #A8C078;
}

.to-server .field:hover {
	color: #C9E58F;
}

.message.to-server:before {
	content: "→";
	text-align: center;
	display: inline-block;
	width: 30px;
	margin-right: 5px;
	margin-left: -35px;
	color: #888;
}

.from-server {
	color: #ed4337;
}

.from-server .field:hover {
	color: #F0917F;
}

.field:hover {
	background: rgba(255, 255, 255, 0.1);
}

.message.from-server:before {
	content: "←";
	text-align: center;
	display: inline-block;
	width: 30px;
	margin-right: 5px;
	margin-left: -35px;
	color: #888;
}

.plaintalk .annotation {
	font-family: "Fenix";
	font-size: 20px;
	line-height: 26px;
	color: #444;
}

.annotation {
	font-style: italic;
}

.state {
	fill: white;
	stroke: #444;
}

.transition {
	fill: none;
	stroke: #444;

	marker-end: url(#arrow-end);
}

.draft {
	display: none;
	opacity: 0.5;
}
