body {
	padding: 0;
	margin: 0;

	font-family: "Fenix";
	font-size: 20px;
	line-height: 26px;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 0;
	line-height: 100%;
}

.content {
	min-width: 320px;
	max-width: 800px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

a, a:visited, a:hover {
	color: #4c66b2;
}

.svg-text {
	font-size: 20px;
	font-family: "Fenix", sans-serif;
	fill: #444;
}

.banner {
	background: #ed4337;
	color: white;
	padding-top: 150px;
	font-size: 96px;
	line-height: normal;
	font-family: "Cherry Swash", sans-serif;
	margin-bottom: 40px;

	-moz-transition: padding 150ms ease-in-out;
	-webkit-transition: padding 150ms ease-in-out;
	-o-transition: padding 150ms ease-in-out;
	transition: padding 150ms ease-in-out;
}

.banner a {
	color: inherit;
	text-decoration: inherit;
}

@media only screen and (max-width: 600px) {
	.banner {
		padding-top: 50px;
		font-size: 48px;
	}
}

.under-banner {
	background: #B01029;
	color: white;
	font-family: "Cherry Swash", sans-serif;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0;
}

.footer {
	margin-top: 230px;
	padding: 10px 0;

	background: #ed4337;
	color: white;

	font-family: "Cherry Swash", sans-serif;
	line-height: 20px;
	overflow: visible;
}

.signature {
	position: relative;

	text-align: right;
	padding-right: 10px;
}

.contactlist {
	position: absolute;
	bottom: 20px;
	top: 0px;
	right: 0px;
	overflow: hidden;

	background: #ed4337;
	color: white;

	text-align: left;
	line-height: 40px;

	-moz-transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

:hover>.contactlist {
	top: -150px;
}

.contactlist ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

.contactlist ul i {
	width: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}

.contactlist a, .contactlist a:visited {
	color: white;
	text-decoration: none;
	cursor: pointer;

	display: inline-block;
	width: 150px;
	padding: 0 40px;
}

.contactlist a:hover {
	background: white;
	color: #ed4337;
}

/*
soft red: rgb(237, 67, 55);
soft blue: #4c66b2;
head in the grass: #A8C078;
soft bright green: #C0D890;
*/

.popup-wrapper {
	position: relative;
}

.popup {
	position:absolute;

	width: 260px;
	padding: 10px 20px;
	margin-left: -150px;
	left: 50%;

	bottom: 38px;

	background: #ed4337;
	color: white;
	box-shadow: 0 4px 20px rgba(0,0,0,0.5);

	font-family: "Fenix";
	font-size: 20px;
	line-height: 26px;
	white-space: normal;

	text-align: center;

	opacity: 0;

	-moz-transition: 120ms ease-in-out;
	-webkit-transition: 120ms ease-in-out;
	-o-transition: 120ms ease-in-out;
	transition: 120ms ease-in-out;

	-moz-transition-property: bottom, opacity, box-shadow;
	-webkit-transition-property: bottom, opacity, box-shadow;
	-o-transition-property: bottom, opacity, box-shadow;
	transition-property: bottom, opacity, box-shadow;

	pointer-events: none;
}

.has-popup:hover+.popup:not(.suppress-popup) {
	bottom: 35px;
	opacity: 1;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.popup-arrow {
	overflow: hidden;
	position: absolute;

	margin-left: -10px;
	left: 150px;
	bottom: -10px;

	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #ed4337;
}

p span[title], p span.has-popup {
	display: inline-block;
	color: #6B874D;
	border-bottom: 1px dashed #6B874D;
	overflow: visible;
	height: 21px;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.figure {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: auto;
}

pre, code {
	font-family: "Inconsolata", monospace;
	font-size: 20px;
}

pre {
	line-height: 30px;
}

pre.abnf {
	margin-left: 1em;
	margin-right: 1em;
	white-space: pre-wrap;
}

.rule {
	color: #992D0C;
}

.abnf .terminal {
	color: #4c66b2;
}

.abnf [title], .abnf span.has-popup {
	border-bottom: 1px dashed #A8C078;
}

.abnf .equals {
}

.abnf .operator {
	color: #A8C078;
}

.abnf .variable {
	font-style: italic;
}

.abnf .comment {
	color: grey;
}

pre.plaintalk {
	overflow: auto;

	border-radius: 5px;

	margin-left: 1em;
	margin-right: 1em;

	padding: 5px 0 5px 35px;

	background: #272822;

	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect fill='%23444' x='0' y='0' width='100%' height='100%'/></svg>");
	background-size: 30px 30px;
	background-repeat: repeat-y;
	background-attachment: local;
}

.plaintalk.interactive {
	max-height: 300px;
	position: relative;
}

.interactive form {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.interactive input {
	border: none;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	line-height: 30px;

	margin-left: -5px;
	padding-left: 5px;

	padding-right: 5px;
	width: calc(100% - 5px);
}

.interactive input {
	color: #C9E58F;
	border: none;
	outline: none;
	background: #333;
}

.to-server input::-webkit-input-placeholder {
	color: #4E5938;
}

.to-server input::-moz-input-placeholder {
	color: #4E5938;
}

code.plaintalk {
	white-space: nowrap;
}

pre .control {
	color: #888;
}

.to-server {
	color: #A8C078;
}

.to-server .field:hover {
	color: #C9E58F;
}

.message.to-server:before {
	content: "→";
	text-align: center;
	display: inline-block;
	width: 30px;
	margin-right: 5px;
	margin-left: -35px;
	color: #888;
}

.from-server {
	color: #ed4337;
}

.from-server .field:hover {
	color: #F0917F;
}

.field:hover {
	background: rgba(255, 255, 255, 0.1);
}

.message.from-server:before {
	content: "←";
	text-align: center;
	display: inline-block;
	width: 30px;
	margin-right: 5px;
	margin-left: -35px;
	color: #888;
}

.ignored {
	color: #888;
	text-decoration: line-through;
}

.connection-broken {
	color: #888;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	margin-right: 5px;
}

.plaintalk .annotation {
	font-family: "Fenix";
	font-size: 20px;
	line-height: 26px;
	color: #444;
}

.annotation {
	font-style: italic;
}

.state {
	fill: white;
	stroke: #444;
}

.transition {
	fill: none;
	stroke: #444;

	marker-end: url(#arrow-end);
}

.draft {
	display: none;
	opacity: 0.5;
}


.plaintalk::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.plaintalk::-webkit-scrollbar-track:vertical {
	border-radius: 0 5px 5px 0;
}

.plaintalk::-webkit-scrollbar-track:horizontal {
	border-radius: 0 0 5px 5px;
}

.plaintalk::-webkit-scrollbar-track {
	background: none;
	background: #272822;
}

.plaintalk::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 5px;
}

.plaintalk::-webkit-scrollbar-thumb:hover {
	background: #888;
}
